article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  line-height: 1;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #B3D4FC;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.container {
  width: 960px;
  margin: 0 auto;
}
body {
  background: url("../img/bg.jpg") center -30px no-repeat;
  font-family: "Arial", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
iframe {
  border: 1px solid #3f4f69;
}
section strong {
  color: #ffba00;
}
.logo {
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -140px;
}
#wrapper > header {
  height: 322px;
}
#wrapper > header .btn-lg {
  position: absolute;
  left: 50%;
  margin-left: -115px;
  top: 225px;
}
#wrapper > header .btn-lg:hover {
  background-color: rgba(229, 168, 18, .9);
}
hgroup h1 {
  margin: 0;
  float: left;
}
hgroup h2 {
  background-color: rgba(40, 52, 72, 0.9);
  position: absolute;
  right: 0;
  top: 32px;
  float: right;
  font: bold 20px/140% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f7f5cf;
  font-weight: normal;
  margin: 0;
  padding: 15px 25px;
}
hgroup h2 strong {
  display: block;
  color: #FFF;
  font-size: 22px;
}
hgroup .url-certificado {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
}
hgroup .url-certificado:hover {
  color: #f7f5cf;
}
.social-media {
  position: absolute;
  top: 100px;
  right: 20px;
}
.social-media a {
  background: url("../img/icons/social-media.png") 0 0 no-repeat;
  width: 38px;
  height: 36px;
  text-indent: -9999em;
  float: left;
}
.social-media .twitter {
  background-position: -38px 0;
}
.social-media .mail {
  background-position: -76px 0;
}
.share {
  position: absolute;
  top: 6px;
  right: 21px;
}
.share li {
  float: left;
  margin-right: 10px;
}
.main {
  clear: both;
}
#gmap iframe {
  width: 100%;
  border: 0;
  margin: 0;
}
#speakers {
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}
#speakers > ul {
  overflow: hidden;
  margin-right: 320px;
}
#speakers .title {
  margin: 70px 0 40px;
  padding: 0 0 0 20px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.094em;
  color: #3f4f69;
  text-transform: lowercase;
  background: url(../img/generic-title-icon.png) no-repeat 0 0;
}
#speakers li {
  margin: 0 40px 20px 2px;
  min-height: 195px;
  float: left;
  text-align: center;
}
#speakers h3 {
  font-size: 19px;
  color: #3F4F69;
  margin: 10px 0 6px;
  line-height: 1;
  letter-spacing: -1px;
}
#speakers strong {
  font-size: 16px;
  display: inline;
}
.avatar-wrapper {
  background-color: #FFF;
  display: inline-block;
  padding: 10px;
  border: 1px solid #CAD2D8;
  box-shadow: 0 1px 2px #a9b8c3;
  -moz-box-shadow: 0 1px 2px #a9b8c3;
  -webkit-box-shadow: 0 1px 2px #a9b8c3;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -moz-transition: all 0.25s ease;
  -o-transition-property: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.avatar-wrapper:hover {
  box-shadow: 0 0 10px #a9b8c3;
  -moz-box-shadow: 0 0 10px #a9b8c3;
  -webkit-box-shadow: 0 0 10px #a9b8c3;
}
#speakers li img,
.picture {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.talks .avatar-wrapper {
  float: left;
  margin: 5px 25px 5px 5px;
}
.talks .avatar-wrapper.right {
  float: right;
  margin: 5px 5px 5px 25px;
}
#speakers .undefined h3 {
  color: #b0b7c2;
}

.special-guest {
  position:absolute;
  right: 0;
  top: 0;
}
.special-guest a {
  text-decoration: none;
}

.popover {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.popover .arrow {
  display: none;
}
.popover-content p {
  font-size: 12px;
}
.price-range {
  color: #b1b7c2;
  font-weight: bold;
  font-size: 15px;
}
.price-range strong {
  font-size: 22px;
  color: #3f4f69;
  display: block;
}
.price-range li {
  float: left;
  padding: 0 15px 3px;
  margin-bottom: 15px;
  text-align: center;
}
.price-range li + li {
  border-left: 1px solid #cad2d8;
}
.btn {
  padding: 12px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #e19028 #c67a18 #a35d04 #c07515;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 1px 2px #785b02;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #e5a812;
}
.btn strong {
  display: block;
  margin-bottom: 4px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
#enrollment {
  width: 260px;
  margin: 40px auto 0;
  padding-left: 16px;
}
#enrollment .btn {
  width: 240px;
  padding: 12px 0;
}
.boxshadow #enrollment .btn {
  -webkit-box-shadow: 0 1px 2px 0 #2C3953, inset 0px 2px 5px 0px #f4ca73;
  box-shadow: 0 1px 2px 0 #2C3953, inset 0px 2px 5px 0px #f4ca73;
  box-shadow: 0px 1px 2px 0px #2C3953, inset 0px 2px 5px 0px #f4ca73;
}
.cssgradients #enrollment .btn {
  background: -moz-linear-gradient(top, #e5a812 40%, #b76e11 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #e5a812), color-stop(100%, #b76e11));
  background: -webkit-linear-gradient(top, #e5a812 40%, #b76e11 100%);
  background: -o-linear-gradient(top, #e5a812 40%, #b76e11 100%);
  background: -ms-linear-gradient(top, #e5a812 40%, #b76e11 100%);
  background: linear-gradient(to bottom, #e5a812 40%, #b76e11 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5a812', endColorstr='#b76e11', GradientType=0);
}
.highlight-text {
  background-color: #3f4f69;
}
.highlight-text.workshop-teaser {
  margin: 0;
}
.highlight-text.workshop-teaser p {
  padding: 40px 0 110px;
}
.highlight-text p {
  font-size: 36px;
  line-height: 120%;
  color: #FFF;
  text-align: center;
  font-weight: 100;
  padding: 75px 0;
  margin: 0;
  letter-spacing: -1px;
}
.highlight-text strong {
  color: #fff;
}
.location {
  height: 300px;
  margin: 0;
}
.talks {
  margin-bottom: 80px;
}
.talks .title {
  margin: 0 0 40px;
  padding: 0 0 0 20px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.094em;
  color: #3f4f69;
  text-transform: lowercase;
  background: url(../img/generic-title-icon.png) no-repeat 0 0;
}
.talks .talks-item {
  overflow: hidden;
  border-top: 1px dashed #dedede;
  padding: 25px 10px;
}
.talks .talks-item:first-child {
  border: 0;
  padding-top: 0;
}
.talks .talk-picture {
  float: left;
  margin: 0;
  width: 121px;
}
.talks .talk-title {
  font-size: 17px;
  margin: 11px 0 0;
  color: #212c3d;
}
.talks .talk-speaker {
  color: #3F4F69;
  font-size: 15px;
  margin: 10px 0;
}
.talks .talk-text {
  font-size: 15px;
}
.talks .talk-text a {
  color: #ffba00;
  font-weight: bold;
  text-decoration: none;
}
.talks .talk-text a:hover {
  text-decoration: underline;
}
.talks .talk-description {
  float: left;
  width: 520px;
}
.talks.workshops {
  margin-bottom: 0;
}
.talks-item.right .avatar-wrapper {
  float: right;
  margin: 0 0 5px 25px;
}
.talks-item.right article {
  float: right;
  text-align: right;
}
.schedule table {
  width: 100%;
}
.schedule table tr:nth-child(even) {
  background: #ebeff3;
}
.schedule table tr:nth-child(odd) {
  background: #ffffff;
}
.schedule table td {
  padding: 11px 0;
  font-weight: normal;
  letter-spacing: -1px;
  font-size: 18px;
}
.schedule table td span {
  font-size: 14px;
  color: #3f4f69;
  margin-left: 10px;
}
.schedule table td:first-child {
  width: 100px;
  border-right: 1px solid #fff;
  color: #818b9d;
  text-align: center;
}
.schedule table td:last-child {
  padding-left: 20px;
  color: #243040;
}
.schedule table .checkpoint td {
  color: #fff;
}
.schedule table .checkpoint td:first-child {
  background: #243040;
}
.schedule table .checkpoint td:last-child {
  background: #3f4f69;
}
.schedule table .coffee {
  background: #fff600;
}
.workshops-list {
  overflow: hidden;
  margin-top: -90px;
  padding-bottom: 5px;
}
.workshops-list > li {
  background: url("../img/workshops/css3.png") no-repeat 324px 165px;
  background-size: 120px 130px;
  position: relative;
  width: 46%;
  min-height: 390px;
  padding: 0 2% 0 2%;
  float: left;
  text-align: right;
}
.workshops-list > li article {
  padding-right: 39%;
}
.workshops-list > li article hgroup {
  padding-top: 10px;
  height: 80px;
}
.workshops-list > li article hgroup .talk-title,
.workshops-list > li article hgroup .talk-speaker,
.workshops-list > li article hgroup a {
  color: #FFF;
  font-weight: 400;
  text-decoration: none;
}
.workshops-list > li article .btn {
  position: absolute;
  right: 39%;
  left: 0;
  bottom: 0;
  text-align: left;
}
.workshops-list > li + li {
  background: url("../img/workshops/angularjs.png") no-repeat 35px 165px;
  background-size: 120px;
  text-align: left;
}
.workshops-list > li + li article {
  padding: 0 0 0 39%;
}
.workshops-list > li + li article .btn {
  position: absolute;
  left: 39%;
  right: 0;
  text-align: right;
}
.workshops-list > li + li article ol {
  direction: ltr;
}
.workshops-list > li p.talk-text {
  font-size: 12px;
  line-height: 120%;
  min-height: 84px;
}
.workshops-list ol {
  padding: 0;
  direction: rtl;
  list-style-position: inside;
}
.workshops-list ol li {
  font-size: 12px;
  line-height: 130%;
}
#footer {
  overflow: hidden;
  padding-top: 100px;
  margin: 0;
  background: #3f4f69;
}
#footer h4 {
  margin: 0 0 25px;
  padding: 0 0 0 20px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.094em;
  color: #fff;
  text-transform: lowercase;
  background: url(../img/generic-title-icon.png) no-repeat 0 0;
}
#footer section {
  float: left;
  margin-bottom: 40px;
}
#footer section:last-child {
  margin: 0;
}
#footer section li {
  float: left;
  margin-right: 25px;
  margin-bottom: 35px;
}
#footer #organization {
  float: right;
}
#organization ul {
  float: right;
}
#organization ul li {
  margin-right:0;
  float: none;
}
.opera {
  margin: 4px 0 0;
}
.cesmac {
  margin: 11px 0 0;
}
#supporters {
  width: 100%;
  float: none !important;
}
#supporters ul {
  overflow: hidden;
}
#supporters li:last-child {
  margin-right: 0;
}
#supporters li a {
  background: rgba(255,255,255,.2);
  display: block;
  padding: 2px 4px;
  height: 45px;
  line-height: 45px;
}
#supporters li a:hover {
  background-color: rgb(255,255,255);
}
#supporters img {
  opacity: .8;
}

#sponsors {
  float: none !important;
  clear: both;
}
#sponsors ul {
  overflow: hidden;
}
.responsible {
  margin-right: 20px;
}
.responsible li {
  color: #232C3B;
  font-weight: bold;
}
.responsible a {
  background: url("../img/icons/github.png") no-repeat scroll 0 5px transparent;
  background-size: 14px 14px;
  color: #333;
  display: block;
  font-size: 0.8em;
  margin-top: 5px;
  padding: 5px 0 5px 20px;
}
.responsible#designer a {
  color: #d4487e;
  background-image: url("../img/icons/dribbble.png");
}
.we-need-sponsors {
  background: #fff;
  font-weight: bold;
  font-size: 16px;
  color: #3f4f69;
  border: 1px solid #dadfe1;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px 0 #2a3649;
  box-shadow: 0 1px 3px 0 #2a3649;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  width: 180px;
  padding: 12px 0;
  text-decoration: none;
  position: relative;
  top: -4px;
  line-height: 16px;
}
.we-need-sponsors strong {
  font-size: 26px;
  display: block;
  color: #3f4f69;
}
.cssgradients .we-need-sponsors {
  background: -moz-linear-gradient(top, #ffffff 0%, #eceff1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eceff1));
  background: -webkit-linear-gradient(top, #ffffff 0%, #eceff1 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #eceff1 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #eceff1 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #eceff1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eceff1', GradientType=0);
}
.venue {
  color: #818B9D;
  font-weight: bold;
  font-size: 15px;
  clear: both;
  padding-top: 25px;
}
.venue a {
  font-size: 12px;
  color: #818B9D;
}
.venue .name {
  font-weight: bold;
  color: #B1B7C2;
}
.venue {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 30px 0 15px;
  position: relative;
  top: -71px;
  clear: both;
  letter-spacing: -0.031em;
  background: -moz-linear-gradient(top, rgba(18, 25, 33, 0) 0%, #121921 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(18, 25, 33, 0)), color-stop(100%, #121921));
  background: -webkit-linear-gradient(top, rgba(18, 25, 33, 0) 0%, #121921 100%);
  background: -o-linear-gradient(top, rgba(18, 25, 33, 0) 0%, #121921 100%);
  background: -ms-linear-gradient(top, rgba(18, 25, 33, 0) 0%, #121921 100%);
  background: linear-gradient(to bottom, rgba(18, 25, 33, 0) 0%, #121921 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00121921', endColorstr='#121921', GradientType=0);
}
.venue .name {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  letter-spacing: -1px;
}

#footer .webbr2014-partner {
  clear: left;
}
#footer .webbr2014-partner h4 {
  margin-bottom: 16px;
}

.think-outside-of-the-box {
  background: url(../img/steve-jobs.jpg) no-repeat top right;
  text-align: right;
  padding: 20px 140px 0 0;
  background-size: 112px;
  float: right !important;
  clear: right;
  width: 320px;
  height: 215px;
}
.think-outside-of-the-box blockquote {
  margin: 0;
  color: #FFF;
  line-height: 132%;
}
.think-outside-of-the-box blockquote strong{
  color: #FFF;
}
.think-outside-of-the-box blockquote cite {
  display: block;
  padding-top: 10px;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
.lt-ie8 .ir {
  text-indent: -9999px;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.lt-ie8 .clearfix {
  zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
