/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    /*font-size: 0.65%;*/
    line-height: 1;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #B3D4FC;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container {
  width: 960px;
  margin: 0 auto
}
body {
  background: url("../img/bg.jpg") center -30px no-repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
section strong {
  color: #ffba00
}
header {
  height: 322px;}
.logo {
  float: :left;
  margin: 38px 0 0 58px
}
hgroup h1 {
  margin: 0;
  float: left;
}
hgroup h2 {
  background-color: rgba(40,52,72,.9);
  position: absolute;
  right: 0;
  top:32px;
  float: right;
  font:bold 19px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f7f5cf;
  font-style: italic;
  font-weight:normal;
  width: 303px;
  margin: 0;
  padding: 20px 26px;
}
hgroup h2 strong {
  display: block;
  color: #FFF;
  font-size: 34px;
}
.social-media {
  position: absolute;
  top: 60px;
  right: 365px;
}
.social-media a {
  background: url("../img/icons/social-media.png") 0 0 no-repeat;
  float: left;
  width: 38px;
  height: 36px;
  text-indent: -9999em;
  float: left;
}
.social-media a.twitter {
  background-position: -38px 0
}
.social-media a.mail {
  background-position: -76px 0
}

.share {
  position: absolute;
  top:6px;
  right: 86px;
}
.share li {
  float: left;
  margin-right: 10px
}

.main {
  clear: both
}

#speakers {
  overflow: hidden;
  margin-top: -70px
}
#speakers li {
  width: 21%;
  margin: 0 1.98% 40px;
  min-height: 195px;
  float: left;
  text-align: center
}
#speakers li h3 {
  font-size: 19px;
  color: #3F4F69;
  margin: 10px 0 6px;
  line-height: 1;
}
#speakers li strong {
  font-size: 16px
}

.avatar-wrapper {
  background-color: #FFF;
  display: inline-block;
  padding:10px;
  border: 1px solid #CAD2D8;
  -webkit-box-shadow: 0 1px 2px 0 #A9B8C3;
  box-shadow: 0 1px 2px 0 #A9B8C3;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.avatar-wrapper:hover {
  -webkit-box-shadow: 0 0 10px 0 #A9B8C3;
  box-shadow: 0 0 10px 0 #A9B8C3;
}
#speakers li img,
.picture {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.talks .avatar-wrapper {
  float: left;
  margin: 5px 25px 5px 5px;
}

#speakers .undefined h3 {
  color: #b0b7c2;
}
.popover {
  -webkit-border-radius:0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.popover .arrow {
  display: none;
}
.popover-content p {
  font-size: 12px
}

#enrollment {
  width: 260px;
  margin: 40px auto 0;
  padding-left: 16px;
}
.price-range {
  color: #b1b7c2;
  font-weight: bold;
  font-size: 15px;
}
.price-range big {
  font-size: 22px;
  color: #3f4f69;
  display: block;
}
.price-range li {
  float: left;
  padding: 0 15px 3px;
  margin-bottom: 15px
}
.price-range li+li {
  border-left: 1px solid #cad2d8
}

#enrollment .btn {
  width: 240px;
  padding: 12px 0;
  border-width: 1px;
  border-style: solid;
  border-color: #e19028 #c67a18 #a35d04 #c07515;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 1px 2px #785b02;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 #2C3953, inset 0px 2px 5px 0px #f4ca73;
  box-shadow: 0 1px 2px 0 #2C3953, inset 0px 2px 5px 0px #f4ca73;
  box-shadow: 0px 1px 2px 0px #2C3953, inset 0px 2px 5px 0px #f4ca73;
  background: #e5a812;
  background: -moz-linear-gradient(top,  #e5a812 40%, #b76e11 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#e5a812), color-stop(100%,#b76e11));
  background: -webkit-linear-gradient(top,  #e5a812 40%,#b76e11 100%);
  background: -o-linear-gradient(top,  #e5a812 40%,#b76e11 100%);
  background: -ms-linear-gradient(top,  #e5a812 40%,#b76e11 100%);
  background: linear-gradient(to bottom,  #e5a812 40%,#b76e11 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5a812', endColorstr='#b76e11',GradientType=0 );
}
#enrollment .btn big {
  display: block;
  margin-bottom: 4px;
  font-size: 22px;
  font-weight: bold;
}

#highlight-text {
  background-color: #3f4f69;
  margin: -32px 0 0;
}
#highlight-text p {
  font-size: 36px;
  line-height: 120%;
  color: #FFF;
  text-align: center;
  font-weight: 100;
  padding: 75px 0;
  margin: 0;
}
#highlight-text strong {
  color: #fff;
}
/* map */
.location {
  margin: 0 0 80px;
}
/* talks */
.talks {
  margin-bottom: 20px;
}
.talks .title {
  margin: 0 0 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cbd4d6;
  font-size: 18px;
  color: #3f4f69;
}
.talks .talks-item:first-child {
  border: 0;
  padding-top: 0;
}
.talks .talks-item {
  overflow: hidden;
  border-top: 1px dashed #dedede;
  padding: 25px 0;
}
.talks .talk-picture {
  float: left;
  margin: 0;
  width: 121px;
}
.talks .talk-title {
  font-size: 17px;
  margin: 11px 0 0;
  color: #212c3d;
}
.talks .talk-speaker {
  color: #3F4F69;
  font-size: 15px;
  margin: 10px 0;
}
.talks .talk-text {
  font-size: 15px;
}
.talks .talk-description {
  float: left;
  width: 450px;
}
.talks-item.right .avatar-wrapper {
  float: right;
  margin: 0 0 5px 25px;
}
.talks-item.right article {
  float: right;
  text-align: right;
}
#footer {
  overflow: hidden;
  padding-bottom: 60px;
  padding-top: 100px;
  margin: 60px 0 0;
  background: #3f4f69;
}
#footer h4 {
  margin: 0 0 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #2e3c52;
  font-size: 18px;
  color: #7b8daa;
}
#footer section li {
  float: left;
  margin-right: 45px;
  margin-bottom: 35px;
}
.opera {
  margin: 4px 0 0;
}
.cesmac {
  margin: 11px 0 0;
}
#supporters {
  width: 782px;
  float: left;
}
#supporters li:last-child {
  margin-right: 0;
}
#organization {
  width: 115px;
  float: right;
}

#sponsors {
  clear: both;
}
.we-need-sponsors {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #eceff1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eceff1));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eceff1 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#eceff1 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#eceff1 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#eceff1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eceff1',GradientType=0 );
  font-weight: bold;
  font-size: 16px;
  color: #3f4f69;
  border: 1px solid #dadfe1;
  text-align: center;
  -webkit-box-shadow: 0 1px 0 0 #97A2A8;
  box-shadow: 0 1px 0 0 #97A2A8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  width: 180px;
  padding: 12px 0 8px;
  text-decoration: none;
  position: relative;
  top: 0;
}
.we-need-sponsors big {
  font-size: 26px;
  display: block
}
.venue {
  color: #818B9D;
  font-weight: bold;
  font-size: 15px;
  clear:both;
  padding-top: 25px;}
.venue a {
  font-size: 12px;
  color: #818B9D;
}
.venue .name {
  font-weight: bold;
  color: #B1B7C2;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
