{
  templateData:

    # Conference info
    conf:
      name: "Front in Maceió 2012"
      description: "Conference description"
      date: "27 de out"
      price: "$100"
      address: "Boulevard Kukulcan, 30, México"
      venue: "CESMAC"
      city: "Maceió"

    # Site info
    site:
      url: "http://frontinmaceio.com.br"
      favicon: "http://frontinmaceio.com.br/favicon.ico"
      googleanalytics: "UA-34840693-1"
      images:
        cover: "http://frontinmaceio.com.br/img/bg.jpg"
        facebook: "http://frontinmaceio.com.br/img/fb.png"

    # Active sections on the website
    sections:
      about: true
      location: true
      speakers: true
      schedule: true
      sponsors: true
      partners: true
      contact: false

    # The entire schedule
    schedule: [
      name: "Credenciamento"
      time: "8h00"
    ,
      name: "Dennis Calazans"
      photo: "http://frontinmaceio.com.br/img/speakers/dennis.png"
      bio: "Professor na Unibratec e Marista e Mestre pela UFPE"
      company: "Unibratec/Marista"
      presentation:
        title: "Uma sugestão baseada em simplicidade para o padrão Singleton para JS"
        description: "Baseando-se nos conceitos de simplicidade, o SSP torna fácil a aplicação do JS em um projeto até por aqueles que estão começando. Essa técnica, sugerida por diversos autores, recebeu uma pitada de praticidade e pode tornar seu código mais manutenível e de fácil adoção por novos integrantes na equipe."
        time: "9h15"
    ,
      name: "Ícaro Medeiros"
      photo: "http://frontinmaceio.com.br/img/speakers/icaro.png"
      bio: "Engenheiro de Software Senior na Globo.com"
      company: "Globo.com"
      presentation:
        title: "Schema.org: HTML semântico"
        description: "Iniciativa de empresas como Google, Microsoft e Yahoo, o schema.org tem um conjunto de vocabulários para embutir semântica no HTML e traz várias vantagens como melhoria de SEO, rich snippets, entre outros. Aprenda como usar o formato e explorar essas vantagens."
        time: "10h00"
    ,
      name: "Almir Filho e Caio Gondim"
      photo: "http://frontinmaceio.com.br/img/speakers/loopinfinito/l8p.png"
      bio: "Criadores do Loop Infinito"
      company: "Loop Infinito"
      presentation:
        title: "HTML5 Sensitivo – Seu browser no plano astral"
        description: "O navegador está cada vez mais sensível ao seus arredores. Explorando todos os novos sensores disponíveis no HTML5 – acelerômetro, geolocalização, câmera e microfone – vamos acessar todas as API's do aqui e do além."
        time: "10h45"
    ,
      name: "Giovanni Keppelen"
      photo: "http://frontinmaceio.com.br/img/speakers/giovanni.png"
      bio: "Engenheiro de Frontend no Peixe Urbano"
      company: "Peixe Urbano"
      presentation:
        title: "Performance Front-end com resultados"
        description: "Por uma web mais rápida, mostrarei a importância da performance em uma aplicação web. E ainda, como isso pode retornar um grande valor para você (profissional) e sua empresa. Com grandes dicas que bem usadas serão de grande valor."
        time: "11h30"
    ,
      name: "Almoço"
      time: "12h15"
    ,
      name: "Nicholas Fazio"
      photo: "http://frontinmaceio.com.br/img/speakers/lightning-talks/nicholas.jpg"
      bio: "Ilhasoft"
      company: "Ilhasoft"
      presentation:
        title: "Desenvolvimento HTML5 Mobile com Sencha Touch"
        description: "A empresa Sencha pensou em como poderia usar o know-how já existente da web e as novas tecnologias, como o HTML5 – que a maioria dos desenvolvedores já sabiam ou iriam aprender – na plataforma mobile, evitando que esses tenham que aprender diversas linguagens e enfrentar outros problemas, assim, surgiu o Sencha Touch."
        time: "13h00"
    ,
      name: "Ramon Victor"
      photo: "http://frontinmaceio.com.br/img/speakers/lightning-talks/ramon.jpg"
      bio: "Designer de Interação na TangerinaLab"
      company: "TangerinaLab"
      presentation:
        title: "Pré-processadores CSS: porque são bons e onde devemos tomar cuidado"
        description: "Por que surgiram os pré-processadores CSS? Como eles podem ser úteis? E por que ter conhecimento da boa e antiga forma de se escrever CSS é necessário para não fazer feio."
        time: "13h20"
    ,
      name: "Luiz Tiago"
      photo: "http://frontinmaceio.com.br/img/speakers/lightning-talks/luiz.jpg"
      bio: "Gerente de Frontend na MGR Tecnologia"
      company: "MGR Tecnologia"
      presentation:
        title: "Zepto.JS - Fazendo mais com menos"
        description: "A árdua tarefa de escolher qual biblioteca utilizar nos projetos fica cada vez mais difícil. Zepto é uma biblioteca minimalista desenvolvida para browsers modernos, tão simples de ser usada quanto o jQuery. E bem mais leve!"
        time: "13h40"
    ,
      name: "Jean Nascimento aka Suissa"
      photo: "http://frontinmaceio.com.br/img/speakers/suissa.jpg"
      bio: "Líder Técnico na Nodeware"
      company: "Nodeware"
      presentation:
        title: "Javascript Moderno"
        description: "O Javascript é a única linguagem largamente utilizada na programação front-end e com o advento do HTML5 ele se tornou soberano na Internet. Está evoluindo a passos largos e possui uma grande comunidade, porém o Javascript realmente ganhou mais força na comunidade de desenvolvimento com o lançamento do Node.js, o qual proporcionou um ambiente de desenvolvimento de Javascript no lado do servidor. Sim! Você já pode escrever Javascript no seu servidor e isso veio para mudar toda a forma como pensamos em Javascript. Conheça seus novos superpoderes."
        time: "14h00"
    ,
      name: "Bernard De Luna"
      photo: "http://frontinmaceio.com.br/img/speakers/bernard.png"
      bio: "UX e Diretor Criativo da Melt DSP"
      company: "Melt DSP"
      presentation:
        title: "Quero ser um ninja em xHTML, HTML5 e CSS3"
        description: "Já sabe codificar? Quer chegar a um nível destacado no mercado? Práticas avançadas de documentação, velocidade de codificação, modularização. Tudo isso recheado a muitas dicas de corte de layouts e inovações em CSS3."
        time: "14h45"
    ,
      name: "Networking"
      time: "15h40"
    ,
      name: "Zeno Rocha"
      photo: "http://frontinmaceio.com.br/img/speakers/zeno.jpg"
      bio: "Front-end Engineer na Liferay, Inc."
      company: "Liferay, Inc."
      presentation:
        title: "O que eu aprendi em 3 anos de carreira como Front-end"
        description: "Erros, acertos e aprendizados em uma carreira curta, porém bem agitada, como desenvolvedor front-end."
        time: "16h00"
    ,
      name: "Sorteios + Agradecimentos = Encerramento"
      time: "18h00"
    ]

    # List of Sponsors
    sponsors: [
      name: "Eventick"
      logo: "http://f.cl.ly/items/1U3p0Z0e2w0I1i3z1X22/Image%202012.09.25%203:00:58%20PM.png"
      url: "http://eventick.com.br"
    ]

    # List of Partners
    partners: [
      name: "BrazilJS"
      logo: "http://f.cl.ly/items/2N3i2W0X2f3c2g2Z2N0f/Untitled-1.png"
      url: "http://braziljs.org"
    ]

}